CompileFlags:
  Add:
    # sdl
    - "-I../extern/SDL/include"
    - "-I../extern/SDL_ttf/include"
    - "-I../extern/SDL_image/include"
    # luau
    - "-I../extern/Luau/VM/include"
    - "-I../extern/Luau/Compiler/include"
    - "-I../extern/Luau/CodeGen/include"
    - "-I../extern/Luau/CLI/include"
    - "-I../extern/Luau/Config/include"
    - "-I../extern/Luau/Common/include"
    - "-I../extern/Luau/Ast/include"
    #imgui
    - "-I../extern/imgui"
    - "-I../extern/imgui/backends"
